{% extends "network/layout.html" %}

{% block body %}
    <h2>Following</h2>
    <div class="form-row">
        {% for post in posts %}
        <div id="post" class="col-md-12 col-lg-12">
            <a id="post_user" href="{% url 'profile' target_user=post.user_id %}"><b>{{ post.user }}</b></a>
            <p id="post_text">{{ post.postBody }}</p>
            <p class="post_date">{{ post.date }}</p>

            {% if post.liker == "no" %}
                <button id="likeButton{{ post.id }}" class="post_likes" onclick="toggleLikes('{{ post.id }}')">❤{{ post.likes }}</button> 
            {% else %}
                <button id="likeButton{{ post.id }}" style="color:red" class="post_likes" onclick="toggleLikes('{{ post.id }}')">❤{{ post.likes }}</button> 
            {% endif %}
            <br>
        </div>
        {% endfor %}
    </div>
    {% if posts.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination navigation">
                {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                    href="?page={{ posts.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <div></div>

                {% endif %}

                {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link"
                    href="?page={{ posts.next_page_number }}">Next</a>
                </li>
                {% else %}
                <div></div>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        function toggleLikes (postId) {
            fetch('/likes_toggle', {
                    method: 'POST',
                    body: JSON.stringify({
                        postId: postId,
                        likerId: "{{ user.id }}"
                    })
                })
                .then(response => response.json())
                .then(r => {
                    button = document.getElementById("likeButton" + postId);

                    button.innerHTML = "❤" + r.likes;

                    if (r.message == "likes") {
                        button.style.color = "red";
                    } else {
                        button.style.color = "grey";
                    }
                });
        }
    </script>
{% endblock %}